<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>ejs</title>
        <script src="./index-static.js" charset="UTF-8"></script>
    </head>
    <body>
        <h1>ejs</h1>
        <div class="">
            <% if (user) { %>
            <h2><%= user.name %></h2>
            <% } %>
        </div>
    </body>
</html>